.c-product-in-cart {
  position: relative;
  border: 1px solid #d6d6d6;
  border-radius: 0.5em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
}

.product-in-cart__trash {
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1em;
  font-size: 1.1rem;
  background-color: #ff5c5c;
  color: #fff;
}
.product-in-cart__header{ 
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  grid-column: span 2;
}
.product-in-cart__img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.product-in-cart__name-container {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.product-in-cart__quantity-container {
  display: grid;
  border: 1px solid #d6d6d6;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: flex-start;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-in-cart__btn-quantity {
  padding: 0.3em;
  font-size: 1.1rem;
  color: #d6d6d6;
}

.product-in-cart__footer {
  text-align: end;
  display: grid;
  gap: 0.2em;
}
.product-in-cart__price-container {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
  color: #515151;
}
.product-in-cart__unit-price-txt {
  font-size: 0.8rem;
}
.product-in-cart__unit-price-nmbr {
  font-size: 0.8rem;
}