.cart__products-container {
  display: grid;
  gap: 1em;
  margin-bottom: 0.5em;
}

.cart-footer {
  text-align: end;
  display: grid;
  gap: 0.3em;
}

.cart-footer__total-txt {
  font-size: 1.5rem;
  font-weight: 600;
}
.cart-footer__total-nbr {
  font-size: 1.8rem;
}
.cart-footer__btn-checkout {
  margin-top: 2em;
  justify-self: center;
  background-color: #ff5c5c;
  color: #fff;
  font-weight: 700;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 400px;
  border-radius: 0.5em;
}
.cart-footer__btn-checkout:active {
  background-color: #009c0dbe; 
}