.c-home {
  margin-top: 1em;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  
  gap: 2em;
  justify-content: center;
}

.home__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  gap: 2em;
  justify-content: center;
  width: 100%;
}

.filters-container {
  position: fixed;
  z-index: 2000;
  right: 0;
  top: 0;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 300px;
  min-width: 250px;
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  overflow-y: auto;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.3s, box-shadow 0.3s
}

.filters-container--showed {
  transform: translateX(0%);
  box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.filters-container::-webkit-scrollbar {
  width: 0px;
}

.filters-container__x {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.filters-container__top {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.home__input-search-container {
  max-width: 600px;
  display: grid;
  grid-template-rows: 1.8fr 1fr;
  gap: 0.3em;
  width: 100%;
  justify-self: center;
  overflow: hidden;
}

.home__input-top {
  position: relative;
}

.home__input-search {
  height: 100%;
  font-size: 1.1rem;
}

.home__input-search-delete-btn {
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0.5em;
  font-size: 1.1rem;
  -webkit-tap-highlight-color: transparent;
}

.home__input-search-delete-btn--disabled {
  color: #d6d6d6;
}

.home__input-bottom {
  display: flex;
  justify-content: flex-end;
}

.home__input-filter-btn {
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: #ff5c5c;
  font-size: 1.2rem;
  font-weight: 600;
}

.home__products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  gap: 2em;
}

.home__products-not-found {
  color: #d6d6d6;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 1100px) {
  .c-home {
    grid-template-columns: max-content 1fr;
    justify-content: flex-start;
  }

  .filters-container {
    position: sticky;
    transform: translateX(0);
    justify-content: flex-start;
    z-index: 500;
    padding: 0;
    padding-top: 6em;

  }

  .filters-container__x {
    display: none !important;
  }

  .home__input-filter-btn {
    display: none;
  }

  .home__products-container {
    max-width: none;
    width: 100%;
  }
}